@import '../../../assets/scss/variables';

.Categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .Categorie {
    padding: 50px;
    max-width: 250px;
    width: 100%;
    background-color: $white;
    border: solid 1px $gray;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
