@import '../../../assets/scss/variables';

.SubTitle {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 32px;
  line-height: 1;
  color: $gray-1;
}

.Description {
  color: $gray-2;
  font-size: 18px;
  line-height: 1.7;
}

.Characteristics {
  display: flex;
  flex-wrap: wrap;

  .Item {
    flex: 0 50%;
    margin-bottom: 5px;

    span {
      color: $gray-3;
      font-size: 14px;
      font-weight: 300;
    }

    p {
      margin-top: 5px;
      font-size: 18px;
      color: $gray-1;
    }
  }
}
