$theme-colors: (
  primary: #ffe600,
  secondary: #00a650,
  intermediate: #fb2a2a,
  accent: #3483fa,
);

$white: white;
$black: #272727;

$gray: #ebebeb;

$gray-1: #333;
$gray-2: #666;
$gray-3: #999;

$shadow-1: 0 1px 0 0 rgba(0, 0, 0, 0.1);
$shadow-2: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
$shadow-l: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

// MIXIN

$pc: 1000px;    
$tablet: 600px;
$phone: 430px;

@mixin responsive($media) {
  @if $media == phone {
    @media (max-width: $phone) {
      @content;
    }
  }
  @else if $media == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
  @else if $media == pc {
    @media (max-width: $pc) {
      @content;
    }
  }
}
