@import '../../assets/scss/variables';

.FavoritesProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    font-size: 26px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 50px;
    color: $gray-2;
  }
}
