@import '../../../assets/scss/variables';

.Header {
  margin-bottom: 20px;

  .Content {
    background-color: $white;
    border-bottom: solid 8px map-get($theme-colors, primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;  

    h1 {
      margin: 0px;
      color: $gray-1;
      font-size: 30px;
    }

    img {
      width: 180px;
      height: 180px;
    }
  }
}
