@import '../../../assets/scss/variables';

.Content {
  height: 100%;

  .TopText {
    font-size: 13px;
    color: $gray-3;
    line-height: 1;
    font-weight: 100;
    margin-bottom: 16px;
  }
  .Title {
    margin: 0;
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .OldPrice {
    text-decoration: line-through;
    color: $gray-3;
    line-height: 1;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .Price {
    font-size: 44px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;

    .PriceOff {
      color: map-get($theme-colors, secondary);
      font-size: 20px;
      font-weight: 400;
      vertical-align: middle;
      margin-left: 10px;
      position: relative;
      top: -5px;
    }
  }

  .Actions {
    position: -webkit-sticky;
    position: sticky;
    background-color: $white;
    top: 110px;   

    @include responsive(pc) {
      position: fixed;
      background-color: $white;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      padding: 10px;

      button {
        margin: 5px 10px;
      }
    }

    @include responsive(phone) {
      flex-wrap: wrap;
    }
  }

  .Benefit {
    margin: 15px 0;
    font-size: 14px;
    line-height: 1.45;
    color: $gray-2;
    font-weight: 300;
    display: table;

    svg {
      display: table-cell;
      padding-right: 10px;
      width: 25px;
    }

    p {
      display: table-cell;
      margin: 0;
    }
  }
}
