@import '../../assets/scss/variables';

.Card {
  margin: 15px;
  max-width: 250px;
  width: 100%;
  background-color: $white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: relative;

  .Favorite {
    svg {
      transition: all .3s ease-in-out;
      position: absolute;
      top: 10px;
      right: 13px;
      width: 18px;
      fill: transparent;
    }
  }

  .Image {
    text-align: center;
    padding: 50px 30px;
    border-bottom: solid 1px $gray;

    img {
      width: 120px;
      height: 120px;
    }
  }

  .Content {
    padding: 20px 15px;
    position: relative;

    svg {
      width: 30px;
      right: 19px;
      top: -9px;
      position: absolute;
      fill: map-get($theme-colors, secondary);
      padding: 0 5px;
      background-color: $white;
    }

    .Price {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      span {
        margin: 0 10px;
        font-size: 14px;
        vertical-align: 3px;
        color: map-get($theme-colors, secondary);
      }

      p {
        margin: 0;
        font-size: 23px;
        line-height: 1em;
        color: $gray-1;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }

    .Title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 36px;
      color: $gray-2;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      margin-top: 15px;
    }
  }
  &:hover {
    box-shadow: $shadow-l;
    .Favorite {
      svg {
        fill: map-get($theme-colors, accent);
      }
    }
  }
}
