@import '../../assets/scss/variables';

.Button {
  padding: 18px;
  margin: 5px 0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  border: 0.05556em solid;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &.Primary {
    background-color: map-get($theme-colors, accent);
    border-color: map-get($theme-colors, accent);
    color: $white;
  }

  &.Ghost {
    background-color: transparent;
    border-color: map-get($theme-colors, accent);
    color: map-get($theme-colors, accent);
  }

  &.Large {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &:hover.Primary {  
    background-color: darken(map-get($theme-colors, accent), 10%);   
  }
  &:hover.Ghost {  
    border-color: darken(map-get($theme-colors, accent), 10%);
    color: darken(map-get($theme-colors, accent), 10%);  
  }
}
