@import "../../assets/scss/variables";

.Product {
  .ProductHeader {
    padding: 25px 0;

    button {
      background: none;
      border: none;
      outline: none;
      color: $gray-3;
      cursor: pointer;
    }
  }

  .ProductContainer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;

    .LeftContent {
      background-color: $white;
      border-top: solid 1px $gray;
      border-bottom: solid 1px $gray;
      border-left: solid 1px $gray;
      width: 65%;
      
      @include responsive(pc) {
        width: 100%;
      }

      .Images {
        padding: 30px;
        position: relative;

        & div {
          outline: none;
        }

        img {
          width: 500px;
          height: 500px;
          object-fit: contain;
          margin: auto;
          outline: none;

          @include responsive(tablet) {
            width: 100%;
            height: auto;
          }
        }
      }

      .Descriptions {
        border-top: solid 1px $gray;
        padding: 30px;
      }
    }

    .RightContent {
      background-color: $white;
      padding: 30px;
      width: 35%;
      border: solid 1px $gray;

      @include responsive(pc) {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

.AddFavorite {
  position: absolute;
  right: 25px;
  width: 25px;
  cursor: pointer;
  z-index: 8;

  svg {
    fill: map-get($theme-colors, accent);
    transition: all .3s ease-in-out;
  }

  &:hover svg {
    fill: darken(map-get($theme-colors, accent ), 15%);
  }
}

