@import "../../assets/scss/variables";


.BottomHeader {
  padding: 15px 0;

  button {
    background: none;
    border: none;
    outline: none;
    color: $gray-3;
    cursor: pointer;
    align-items: center;
    display: flex;
    transition: color 0.3s ease-in-out;

    svg {
      width: 15px;
      margin-right: 5px;
      transform: rotate(180deg);
      margin-top: 2px;

      g {
        fill: $gray-3;
      }
    }

    &:hover {
      color: $gray-2;

      svg g {
        fill: $gray-2;
      }
    }
  }
}