@import '../../assets/scss/variables';

.Home {
  padding: 50px;
  text-align: center;
  h2 {
    font-size: 26px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 50px;
    color: $gray-2;
  }
  a {
    color: $black;
    padding: 30px;
    text-decoration: none;

    &:hover {
      color: $gray-2;
    }
  }
}
