@import '../../assets/scss/variables';

.Header {
  position: sticky;
  z-index: 9;
  top: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    box-shadow: $shadow-1;
  }
  nav {
    background-color: map-get($theme-colors, primary);
    padding: 10px;
    position: relative;
    z-index: 10;
    .Items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .BrandLogo {
        width: 134px;
      }

      .Favorite {
        position: relative;

        svg {
          width: 20px;
        }
        label {
          position: absolute;
          bottom: -7px;
          right: -8px;
          background-color: map-get($theme-colors, intermediate);
          color: $white;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          font-size: 12px;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
    a {
      color: $gray-1;
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      &:hover {
        color: $gray-3;
      }
    }
  }

  @include responsive(phone) {
    &::before {
      height: 64px;
    }
    nav {
      padding: 2px;
      .Items {
        .BrandLogo {
          width: 97px;
        }
      }
    }
  }
}
