@import '../../../assets/scss/variables';

.Form {
  display: flex;
  align-items: center;
  box-shadow: $shadow-2;
  border-radius: 2px;
  width: 100%;
  max-width: 400px;
  margin: 10px 20px;

  .Input {
    height: 40px;
    padding: 0px 20px;
    width: 100%;
    border: none;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  .Button {
    border: none;
    height: 40px;
    padding-right: 13px;
    position: relative;
    background-color: $white;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      height: 60%;
      width: 1px;
      background-color: $gray;
      top: 50%;
      left: -5px;
      transform: translateY(-50%);
    }
    &:focus {
      outline: none;
    }
    svg {
      width: 15px;
      height: 40px;
      fill: #545454;
    }
  }
}
