@import '../../assets/scss/variables';

.Footer {
  background-color: $white;
  padding: 25px;

  .Content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .Info {
      nav {
        margin-bottom: 10px;
        a {
          margin: 0 10px;
          color: $gray-2;
          font-size: 13px;
          &:hover {
            color: $black;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }

      span {
        color: $gray-3;
        font-size: 12px;
      }
    }

    .App {
      a {
        margin: 20px 0px;
        background-color: map-get($theme-colors, primary);
        font-size: 11px;
        line-height: 30px;
        padding: 1px 12px;
        border-radius: 4px;
        color: $gray-1;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}
