html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

main {
  background-color: #f5f5f5;
  min-height: calc(100vh - 190px);
  color: #333;
  padding-bottom: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* */

.slick-next::before,
.slick-prev::before {
  content: none !important;
}

.slick-next,
.slick-prev {
  width: auto !important;
  height: auto !important;
  //z-index: 999999;
}

.slick-dots {
  position: relative !important;
  bottom: 0 !important;
}

.slick-dots li.slick-active {
  border: solid 1px #3583fa;
}

.slick-dots li {
  border: solid 1px transparent;
  width: 60px !important;
  height: 60px !important;
}
.slick-thumbnail {
  width: 60px !important;
  height: 60px !important;
  padding: 5px;
}

/* */

button.btn {
  border: none;
  padding: 16px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;

  &.primary {
    background-color: #3483fa;
    color: white;
  }

  &.large {
    width: 100%;
  }
}
