@import '../../../assets/scss/variables';

.Header {
  margin-bottom: 20px;

  .Content {
    border-radius: 5px;
    padding: 20px;
    text-align: center;

    h1 {
      font-size: 26px;
      font-weight: 300;
      margin-top: 0px;
      margin-bottom: 10px;
      color: $gray-2;

      b {
        color: $gray-1;
      }
    }
  }
}
